body {
    background-color: #f8f9fa;
}

#lista-tarefas li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#lista-tarefas li span {
    flex-grow: 1;
}

#lista-tarefas li input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

#lista-tarefas .btn {
    margin-left: 5px;
}

.concluida {
    text-decoration: line-through;
    color: #6c757d;
}

.detalhes-tarefa {
    font-size: 0.9em;
    color: #6c757d;
    margin-top: 5px;
}
